$slotWidth: 6rem;
$slotHeight: $slotWidth;

.network-canvas {
    width: 100%;
    height: 100%;
    position: relative;

    .slot {
        width: $slotWidth;
        height: $slotHeight;
        margin-left: (-$slotWidth/2);
        margin-top: (-$slotHeight/2);
        background: #ddd;
        border: 1px solid #666;
        border-radius: 100%;

        position: absolute;
    }

    & > svg {
        width: 100%;
        height: 100%; 
        position: absolute;
    }

    & svg * {
        transition: all .3s;
    }
}
