body,
html {
  height: 100%;
  width: 100%;
  font-family: Roboto;
  font-weight: 300;
  overflow: hidden;
  background: #eee;
}

p {
  margin-bottom: 1em;
}

.fill,
#root {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.network-canvas {
  width: 100%;
  height: calc(100% - 64px);
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvasarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}

.canvasarea .time-navigation {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.canvasarea .scenario-status {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 1rem;
  background: rgba(255, 0, 0, 0.2);
  font-weight: bold;
  color: red;
}

.sidebar {
  max-width: 40rem;
  width: 40%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: white;
}

.network-canvas .slot {
  width: 6rem;
  height: 6rem;
  margin-left: -3rem;
  margin-top: -3rem;
  background: #ddd;
  border: 1px solid #666;
  border-radius: 100%;
  position: absolute;
}

.network-canvas > svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.network-canvas svg * {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.active-step {
  border: 1px solid red !important;
}

.validation-ok {
  color: green;
}

.validation-fail {
  color: red;
}

.step-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white !important;
  border-top: 1px solid #bbb !important;
  border-bottom: 1px solid #bbb !important;
  margin-bottom: -1px !important;
  padding: 1rem 0.5rem;
}

.step-active {
  background: #ddd !important;
}

.step-failed {
  color: red !important;
}

.step-inactive {
  color: gray !important;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.sidebar-panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: none;
  overflow-y: auto;
}

.sidebar-panel.active {
  display: block;
}

.sidebar-menu {
  width: 3rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: white;
  border-left: 1px solid #ccc;
  margin-left: -1px;
}

.sidebar-menu .item {
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #eee;
}

.sidebar-menu .item.active {
  background: #eee;
}

.sidebar .time-navigation {
  background: #333;
  color: white;
  padding: 1rem;
}

.asset-number-of-children {
  color: white;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-transform: translateY(0.4em);
          transform: translateY(0.4em);
}

.internal-resource-url {
  border-bottom: 1px dashed #333;
  color: #333;
  cursor: pointer;
  background: #fef4bd00;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.internal-resource-url:hover {
  background: #fef4bdff;
}

#notistack-snackbar {
  display: block;
}

#notistack-snackbar .internal-resource-url {
  color: inherit;
}
/*# sourceMappingURL=3-custom.css.map */