body,
html {
    height: 100%;
    width: 100%;
    font-family: Roboto;
    font-weight: 300;
    overflow: hidden;
    background: #eee;
}

p {
    margin-bottom: 1em;
}

$themeColor: #3f51b5;

#landing-page {
    display: flex;
    height: 100%;

    h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    p.subtitle {
        font-size: 2rem;
        font-weight: bold;
    }

    p {
        font-size: 1.2rem;
    }
}
#landing-left,
#landing-right {
    width: 50%;
    height: 100%;
}

#landing-left {
    background: $themeColor;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    > div {
        max-width: 30rem;
    }
}

#landing-right {
    background: $themeColor;
    // background: rgb(135, 134, 158);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.landing-cta {
    color: white;
    padding: 2rem;
    border: 3px solid white;
    width: 100%;
    max-width: 30rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    display: block;
    text-decoration: none;
    transition: all 0.3s;

    &.small {
        padding: 1rem;
        width: auto;
        border: none;
        font-size: 1.2rem;
    }

    .title {
        font-size: 2em;
        font-weight: bold;
        display: block;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    &.inverted {
        background: white;
        color: $themeColor;
    }

    &:hover {
        transform: scale(1.1);
    }
}

#examples-page {
    background: $themeColor;
    color: white;
    height: 100%;
    overflow: auto;
    padding: 3rem;

    h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 3rem;
    }

    .back-btn {
        font-size: 2.5rem;
        padding: 1rem;
        margin: -1rem 1rem -1rem -1rem;
        color: white !important;
    }

    p.subtitle {
        font-size: 2rem;
        font-weight: bold;
    }

    p {
        font-size: 1.2rem;
    }
}

#examples-list {
    column-count: 4;
}

@media only screen and (max-width: 100rem) {
    #examples-list {
        column-count: 3;
    }
}

@media only screen and (max-width: 80rem) {
    #examples-list {
        column-count: 2;
    }
}

@media only screen and (max-width: 60rem) {
    #examples-list {
        column-count: 1;
    }
}

a.example-scenario {
    width: 100%;
    display: inline-grid;
    break-inside: avoid;
    page-break-inside: avoid;
    color: white;
    padding: 2rem;
    border: 3px solid white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    transition: all 0.3s;
    max-width: 30rem;

    &.small {
        padding: 1rem;
        width: auto;
        border: none;
        font-size: 1.2rem;
    }

    .title {
        font-size: 2em;
        font-weight: bold;
        display: block;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    &.inverted {
        background: white;
        color: $themeColor;
    }

    &:hover {
        transform: scale(1.04);
    }
}

.fill,
#root {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.network-canvas {
    width: 100%;
    height: calc(100% - 64px); // compensate for header
    position: relative;
    overflow: hidden;
    display: flex;
}

.canvasarea {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;

    .scenario-status {
        position: absolute;
        top: 2rem;
        left: 2rem;
        padding: 1rem;
        background: rgba(255, 0, 0, 0.2);
        font-weight: bold;
        color: red;
    }
}

.sidebar {
    max-width: 40rem;
    width: 40%;
    flex-grow: 0;
    flex-shrink: 0;

    background: white;
}

.network-canvas .slot {
    width: 6rem;
    height: 6rem;
    margin-left: -3rem;
    margin-top: -3rem;
    background: #ddd;
    border: 1px solid #666;
    border-radius: 100%;
    position: absolute;
}

.network-canvas > svg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.network-canvas svg * {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
/*# sourceMappingURL=NetworkCanvas.css.map */

.active-step {
    border: 1px solid red !important;
}

.validation-ok {
    color: green;
}

.validation-fail {
    color: red;
}
.step-item {
    display: flex;
    align-items: center;
    background: white !important;
    border-top: 1px solid #bbb !important;
    border-bottom: 1px solid #bbb !important;
    margin-bottom: -1px !important;
    padding: 1rem 0.5rem;
    cursor: pointer;
}

.step-active {
    background: #ddd !important;
}

.step-failed {
    color: red !important;
}

.step-inactive {
    color: gray !important;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-main {
    display: flex;
    height: 10%;
    flex-grow: 1;
    flex-shrink: 1;
}

.sidebar-panel {
    flex-grow: 1;
    display: none;
    overflow-y: auto;
    &.active {
        display: block;
    }
}

.sidebar-menu {
    width: 3rem;
    flex-grow: 0;
    flex-shrink: 0;
    background: white;
    border-left: 1px solid #ccc;
    margin-left: -1px;

    .item {
        cursor: pointer;
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #eee;

        &.active {
            background: #eee;
        }
    }
}

.sidebar .time-navigation {
    background: #f8b22f;
    color: black;
    padding: 1rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.asset-number-of-children {
    color: white;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    transform: translateY(0.4em);
}

.internal-resource-url {
    border-bottom: 1px dashed #333;
    color: #333;
    cursor: pointer;
    background: #fef4bd00;
    transition: all 0.3s;

    &:hover {
        background: #fef4bdff;
    }
}

#notistack-snackbar {
    display: block;
}

#notistack-snackbar .internal-resource-url {
    color: inherit;
}
