body,
html {
  height: 100%;
  width: 100%;
  font-family: Roboto;
  font-weight: 300;
  overflow: hidden;
  background: #eee;
}

p {
  margin-bottom: 1em;
}

#landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#landing-page h1 {
  font-size: 4rem;
  font-weight: bold;
}

#landing-page p.subtitle {
  font-size: 2rem;
  font-weight: bold;
}

#landing-page p {
  font-size: 1.2rem;
}

#landing-left,
#landing-right {
  width: 50%;
  height: 100%;
}

#landing-left {
  background: #3f51b5;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

#landing-left > div {
  max-width: 30rem;
}

#landing-right {
  background: #3f51b5;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.landing-cta {
  color: white;
  padding: 2rem;
  border: 3px solid white;
  width: 100%;
  max-width: 30rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.landing-cta.small {
  padding: 1rem;
  width: auto;
  border: none;
  font-size: 1.2rem;
}

.landing-cta .title {
  font-size: 2em;
  font-weight: bold;
  display: block;
}

.landing-cta .subtitle {
  font-size: 1.2rem;
}

.landing-cta.inverted {
  background: white;
  color: #3f51b5;
}

.landing-cta:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#examples-page {
  background: #3f51b5;
  color: white;
  height: 100%;
  overflow: auto;
  padding: 3rem;
}

#examples-page h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

#examples-page .back-btn {
  font-size: 2.5rem;
  padding: 1rem;
  margin: -1rem 1rem -1rem -1rem;
  color: white !important;
}

#examples-page p.subtitle {
  font-size: 2rem;
  font-weight: bold;
}

#examples-page p {
  font-size: 1.2rem;
}

#examples-list {
  -webkit-column-count: 4;
          column-count: 4;
}

@media only screen and (max-width: 100rem) {
  #examples-list {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

@media only screen and (max-width: 80rem) {
  #examples-list {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media only screen and (max-width: 60rem) {
  #examples-list {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

a.example-scenario {
  width: 100%;
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  page-break-inside: avoid;
  color: white;
  padding: 2rem;
  border: 3px solid white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  max-width: 30rem;
}

a.example-scenario.small {
  padding: 1rem;
  width: auto;
  border: none;
  font-size: 1.2rem;
}

a.example-scenario .title {
  font-size: 2em;
  font-weight: bold;
  display: block;
}

a.example-scenario .subtitle {
  font-size: 1.2rem;
}

a.example-scenario.inverted {
  background: white;
  color: #3f51b5;
}

a.example-scenario:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.fill,
#root {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.network-canvas {
  width: 100%;
  height: calc(100% - 64px);
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvasarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}

.canvasarea .scenario-status {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 1rem;
  background: rgba(255, 0, 0, 0.2);
  font-weight: bold;
  color: red;
}

.sidebar {
  max-width: 40rem;
  width: 40%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: white;
}

.network-canvas .slot {
  width: 6rem;
  height: 6rem;
  margin-left: -3rem;
  margin-top: -3rem;
  background: #ddd;
  border: 1px solid #666;
  border-radius: 100%;
  position: absolute;
}

.network-canvas > svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.network-canvas svg * {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.active-step {
  border: 1px solid red !important;
}

.validation-ok {
  color: green;
}

.validation-fail {
  color: red;
}

.step-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white !important;
  border-top: 1px solid #bbb !important;
  border-bottom: 1px solid #bbb !important;
  margin-bottom: -1px !important;
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.step-active {
  background: #ddd !important;
}

.step-failed {
  color: red !important;
}

.step-inactive {
  color: gray !important;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.sidebar-panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: none;
  overflow-y: auto;
}

.sidebar-panel.active {
  display: block;
}

.sidebar-menu {
  width: 3rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: white;
  border-left: 1px solid #ccc;
  margin-left: -1px;
}

.sidebar-menu .item {
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #eee;
}

.sidebar-menu .item.active {
  background: #eee;
}

.sidebar .time-navigation {
  background: #333;
  color: white;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.asset-number-of-children {
  color: white;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-transform: translateY(0.4em);
          transform: translateY(0.4em);
}

.internal-resource-url {
  border-bottom: 1px dashed #333;
  color: #333;
  cursor: pointer;
  background: #fef4bd00;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.internal-resource-url:hover {
  background: #fef4bdff;
}

#notistack-snackbar {
  display: block;
}

#notistack-snackbar .internal-resource-url {
  color: inherit;
}
/*# sourceMappingURL=3-custom.css.map */